<form [formGroup]="registerForm">
    <p-card header="Register" [style]="{width: '360px'}">
        <div class="field">
            <label fpr="fullName">Name </label>
            <input type="text" pInputText formControlName="fullName" class="w-full" name="fullName" placeholder="Please type your Name"/>

            <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
                <div *ngIf="fullName.errors?.['required']">FullName is Required</div>
                <div *ngIf="fullName.errors?.['pattern']">Enter a Valid Name</div>
            </small>

        </div>
        <div class="field">
            <label fpr="email">Email </label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Type your email"/>

            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email is Required</div>
                <div *ngIf="email.errors?.['email']">Email is Invalid</div>
            </small>

        </div>
        <div class="field">
            <label fpr="password">Password</label>
            <input type="password" pInputText formControlName="password" class="w-full" name="password" placeholder="Type your Password"/>
            
            <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                <div *ngIf="password.errors?.['required']">Password is Required</div>
            </small>
        
        </div>
        <div class="field">
            <label fpr="confirmPassword">Confirm Password</label>
            <input type="password" pInputText formControlName="confirmPassword" class="w-full" name="confirmPassword" placeholder="Confirm Password"/>
            
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
                <div *ngIf="confirmPassword.errors?.['required']">Confirm the Password</div>
            </small>
    
            <small *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid" class="block p-error">
                Password Should Match
            </small>
        </div>
        <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>

        <div class="mt-2">
            Already a Member? <a routerLink="/login">Login</a>
        </div>
    </p-card>
</form>>
